/*--------------------------------------------

 TABLE OF CONTENTS

# GLOBAL
    # DEFINE GLOBAL VARIABLES (CUSTOM PROPERTIES)
    # SET GLOBAL RESETS
    # SET GLOBAL COLORS
    # SET GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA (Images, video, svg)

    ...

# UI COMPONENTS
    # CARDS

    (WILL ADD MORE HERE)


--------------------------------------------*/

/* --------------------------------------------

                    GLOBALS 

--------------------------------------------*/

/* SET GLOBAL VARIABLS */

:root {

    /* DEFINE BASE COLORS */

    --color-white: #fff;
    --color-black: #000;
    --color-orange: #e84e1b;
    --color-blue: blue;

    /* DEFINE SEMANTIC COLORS */

    --color-body-background: var(--color-white);
    --color-body-text: var(--color-black);

}

/* SET GLOBAL COLORS */

body {
    background-color: var(--color-body-background);
    color: var(--color-body-text);
}

/* SET GLOBAL TYPOGRAPHY */

/* TYPOGRAPHY */



/* LINKS */

a {
    color: var(--color-orange);
}

a:hover {
    color: var(--color-blue);
}

/* --------------------------------------------

                    UI COMPONENTS

--------------------------------------------*/

/* CARDS */

.card {
    border: 1px solid red;
    display: inline-block;
    padding: 1em;
    border-radius: 5px;
}

.color-swatch {
    color: red;
    background-color: var(--color-blue);
    width: 150px;
    height: 150px;
}