/*--------------------------------------------

 TABLE OF CONTENTS

# GLOBAL
    # DEFINE GLOBAL VARIABLES (CUSTOM PROPERTIES)
    # SET GLOBAL RESETS
    # SET GLOBAL COLORS
    # SET GLOBAL TYPOGRAPHY
    # GLOBAL MEDIA (Images, video, svg)
    # GLOBAL HELPERS
    # GLOBAL RESETS

    ...
# LAYOUT
    # CONTAINER
    # GRID SYSTEM (12 COLUMN)

# UI COMPONENTS
    # CARDS
    # HR (HORIZONTAL RULE)

    (WILL ADD MORE HERE)


--------------------------------------------*/

/* --------------------------------------------

                    GLOBALS 

--------------------------------------------*/

/* SET GLOBAL VARIABLS */

:root {

    /* DEFINE BASE COLORS */

    --color-white: #fff;
    --color-black: #000;
    --color-orange: #e84e1b;
    --color-blue: blue;

    /* DEFINE SEMANTIC COLORS */

    --color-body-background: var(--color-white);
    --color-body-text: var(--color-black);

}

/* SET GLOBAL COLORS */

body {
    background-color: var(--color-body-background);
    color: var(--color-body-text);
}

/* SIZING UNITS */
--unit-2xs: 0.25em;
--unitxs: 0.5em;


/* GLOBAL FONTS */

--font-body: system-ui,
Helvetica,
arial,
sans-serif;
--font-headings: Georgia,
Times,
"Times New Roman";

/* SET GLOBAL TYPOGRAPHY */

body {
    font-family: var(--font-body);
    font-size: 100%;
    line-height: 1.4;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-headings);
}

/* TYPOGRAPHY */


/* GLOBAL MEDIA */

/* IMAGES */

img {
    max-width: 100%;
    height: auto;
}

/* LINKS */

a {
    color: var(--color-orange);
    text-decoration-color: var(--color-primary-dark);
    text-underline-offset: .135em;
    /* can be changed/removed */
    text-decoration-thickness: 0.5em;
    /* thickness of line */
}

a:hover {
    color: var(--color-blue);
}


/* GLOBAL HELPERS */

.text-centered {
    text-align: center;
}

/* GLOBAL RESETS */

/* Remove the default 8pm margin on body */
body {
    margin: 0;
}

/* Set all elements to box sixing border box */
* {
    box-sizing: border-box;
}


/* --------------------------------------------

                    LAYOUT

--------------------------------------------*/

/* CONTAINER */

.container {
    max-width: 1100px;
    margin: 0 auto;
    border: 1px solid red;
}


/*  GRID SYSTEM  */

.row>* {
    margin-block: var(--unit-s);
}

/* FOR DEMO PURPOSES ONLY */
.row.demo>* {
    background-color: #eee;
    text-align: center;
    padding: var(--unit-s);
}

/* --------------------------------------------

                    UI COMPONENTS

--------------------------------------------*/

/* CARDS */

.card {
    border: 1px solid red;
    display: inline-block;
    padding: 1em;
    border-radius: 5px;
}

.color-swatch {
    color: red;
    background-color: var(--color-blue);
    width: 150px;
    height: 150px;
}

/* HR (HORIZONTAL RULE) */

HR {
    border: none;
    border-top: var(--border-thickness) solid var(--color-border);
    margin: var(--unit-l) 0;
}